.headerContainer {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100%;

  /* From https://css.glass */
  background: rgba(28, 83, 142, 0.836);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(29, 62, 44, 0.36);
  z-index: 1;
  padding-top: 1%;
  padding-bottom: 1%;
}
.header_logo {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  margin-top: 2%;
  font-size: 30px;
}
.logo {
  text-decoration: none;
  color: white;
  font-family: "Luxurious Roman", cursive;
}
.logo:hover {
  color: black;
}

.header_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  margin: 2%;
}
.menu_item1 {
  grid-area: 2 / 1 / 4 / 2;
}
.menu_item2 {
  grid-area: 2 / 2 / 4 / 3;
}
.menu_item3 {
  grid-area: 2 / 3 / 4 / 4;
}
.menu_item4 {
  grid-area: 2 / 4 / 4 / 5;
}

.header_text {
  grid-area: 1 / 3 / 2 / 4;
  padding-top: 3%;
  letter-spacing: 1px;
  color: white;
  margin-top: 5%;
}

.menu_item {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10%;
  font-size: 16px;
}
.menu_item:hover {
  color: white;
  background-color: rgb(15, 47, 82);
  border-radius: 16px;
}
.dropbtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 10%;
}
.dropbtn:hover {
  background-color: rgb(15, 47, 82);
  color: white;
  border-radius: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.5vw 0.7vw;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
@media screen and (max-width: 712px) {
  .menu_item {
    font-size: 2vw;
    padding-top: 5%;
  }
  .dropbtn {
    font-size: 2vw;
  }
  .header_menu {
    padding-top: 10%;
  }
  .header_text {
    padding-top: 10%;
  }
}

.homeContainer {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-image: url("./img/bg.svg");
  padding: 1% 0% 1% 0%;
}

.right_grid {
  grid-area: 1 / 3 / 4 / 4;
}

.left_grid {
  grid-area: 1 / 1 / 4 / 2;
}

.main_grid {
  grid-area: 1 / 2 / 4 / 3;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}
.main_element {
  margin: 2% 2% 2% 2%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.74);
  padding: 2%;
}
.main_element:hover {
  box-shadow: 2px 4px 6px black;
  border: 1px solid rgb(43, 36, 36);
}

.a_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "a_grid_image a_grid_text a_grid_text"
    "a_grid_image a_grid_text a_grid_text"
    "a_grid_image a_grid_text a_grid_text";
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}

.a_grid_image {
  grid-area: 1 / 1 / 4 / 2;
}

.a_grid_button {
  grid-area: 3 / 2 / 4 / 3;
  padding-top: 5%;
}

.a_grid_text {
  grid-area: 1 / 2 / 3 / 4;
}

.b_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "b_grid_image b_grid_text b_grid_text"
    "b_grid_image b_grid_text b_grid_text"
    "b_grid_image b_grid_text b_grid_text";
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
}

.b_grid_image {
  grid-area: 1 / 1 / 4 / 2;
}

.b_grid_button {
  grid-area: 3 / 2 / 4 / 3;
  padding-top: 5%;
}

.b_grid_text {
  grid-area: 1 / 2 / 3 / 4;
}

.c_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "c_grid_image c_grid_text c_grid_text"
    "c_grid_image c_grid_text c_grid_text"
    "c_grid_image c_grid_text c_grid_text";
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
}

.c_grid_image {
  grid-area: 1 / 1 / 4 / 2;
}

.c_grid_button {
  grid-area: 3 / 2 / 4 / 3;
  padding-top: 5%;
}

.c_grid_text {
  grid-area: 1 / 2 / 3 / 4;
}

.katilbutonu {
  background-color: white;
  padding: 5%;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}
.katilbutonu:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}
.languageContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-image: url("./img/bg.svg");
  padding: 1% 0% 1% 0%;
}

.main_grid_lesson {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2.3fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1 / 2 / 2 / 3;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.74);
  padding: 2%;
  z-index: 0;
}

.lesson_image {
  grid-area: 1 / 1 / 2 / 4;
  padding: 0 0 3% 0;
  text-align: center;
}
.lesson_png {
  border-radius: 20px;
}

.lesson_text {
  grid-area: 2 / 1 / 3 / 4;
  background-color: whitesmoke;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  border-radius: 20px;
}
.space {
  margin-top: 15%;
}

.navigator {
  grid-area: 3 / 1 / 4 / 4;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  text-align: center;
  background-color: whitesmoke;
  margin-top: 2%;
  padding: 1.3% 0 1% 0;
}
.navigator-item {
  background-color: #22333b;
  padding: 7px;
  margin-left: 1%;
  border-radius: 20px;
}
.navigator-item-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 125%;
}

.form_label {
  display: block;
}
.inputs {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.inputs:focus {
  border: 3px solid #555;
  background-color: rgb(206, 224, 224);
}
#ad {
  width: 30%;
}
#mail {
  width: 50%;
}
#message {
  width: 90%;
  height: 10vw;
  display: block;
}
#submit {
  display: block;
  margin-top: 2%;
}
.ilk_ders {
  margin-top: 10%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ilk_derslink {
  text-decoration: none;
  color: white;
}
.aboutContainer {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-image: url("./img/bg.svg");
  padding: 1% 0% 1% 0%;
}

.main_grid_about {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1 / 2 / 2 / 3;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}

.about_text {
  grid-area: 1 / 1 / 2 / 4;
  background-color: whitesmoke;
  margin-bottom: 9%;
  padding: 2%;
  border-radius: 16px;
}

.about_image {
  grid-area: 2 / 1 / 4 / 4;
}

#about {
  font-size: 20px;
}
.album {
  width: 50%;
  border-radius: 16px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;

  /* From https://css.glass */
  background: rgba(28, 83, 142, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(29, 62, 44, 0.36);
  grid-auto-flow: row;
  padding: 2%;
}

.footer_center {
  grid-area: 1 / 2 / 3 / 3;
}

.footer_left {
  grid-area: 1 / 1 / 3 / 2;
}

.footer_right {
  grid-area: 1 / 3 / 3 / 4;
}

.footer_right_down {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 2 / 3 / 3 / 4;
  padding: 2%;
}

.linkedin_logo {
  grid-area: 1 / 1 / 2 / 2;
}

.linkedin_text {
  padding-top: 3%;
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
  font-size: 20px;
}

.instagram_logo {
  grid-area: 2 / 1 / 3 / 2;
}

.instagram_text {
  padding-top: 3%;
  grid-area: 2 / 2 / 3 / 3;
  text-align: left;
  font-size: 20px;
}

.facebook_logo {
  grid-area: 3 / 1 / 4 / 2;
}

.facebook_text {
  padding-top: 3%;
  grid-area: 3 / 2 / 4 / 3;
  text-align: left;
  font-size: 20px;
}

.bizi_takip_edin {
  grid-area: 1 / 3 / 2 / 4;
}

.bize_ulasin {
  grid-area: 1 / 2 / 2 / 3;
}

.hakkımızda {
  grid-area: 1 / 1 / 2 / 2;
}

.footer_left_down {
  grid-area: 2 / 1 / 3 / 2;
  padding: 2%;
}

.footer_center_down {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 2 / 2 / 3 / 3;
  padding: 2%;
}

.adres_logo {
  grid-area: 1 / 1 / 2 / 2;
}

.adres_text {
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
  padding-top: 3%;
}

.mail_logo {
  grid-area: 2 / 1 / 3 / 2;
}

.mail_text {
  grid-area: 2 / 2 / 3 / 3;
  padding-top: 3%;
  text-align: left;
}

.tel_logo {
  grid-area: 3 / 1 / 4 / 2;
}

.tel_text {
  grid-area: 3 / 2 / 4 / 3;
  padding-top: 3%;
  text-align: left;
}

.grid-container .hr_hakkımızda {
  border: 4px solid black;
}

.grid-container {
  text-align: center;
}
.border_left {
  border-left: 3px solid black;
}
.logos svg {
  width: 20%;
  padding: 2%;
}

.text_position {
  text-align: center;
  color: #936639;
}
.text_center span,
a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.grid-container a {
  text-decoration: none;
  font-size: 150%;
}

#instagram_color {
  color: white;
}
.text_color_icons a {
  color: black;
  font-size: 100%;
  text-align: center;
}
.hakkımızda_text {
  padding: 2%;
  font-size: 16px;
}
