.headerContainer {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header_logo header_empty header_navbar ";
  background-color: #a8dadc;
}

.header_logo {
  grid-area: header_logo;
  text-align: center;
}
.header_empty {
  grid-area: header_empty;
}

.header_navbar {
  grid-area: header_navbar;
  padding-top: 5%;
}

.menu_link {
  text-decoration: none;
  color: black;
}
.menu_link:hover {
  background-color: rgb(182, 182, 182);
  height: 1%;
}

.menu_link_drop {
  text-decoration: none;
  color: black;
}
